<!DOCTYPE html>
{{!< main}}
<h1>Real-Time Product List</h1>
<div class="container">
  <!-- Formulario para agregar nuevos productos -->
  <div id="form-container">
    <form id="productsForm">
      <input type="text" id="title" name="title" placeholder="Title" required>
      <input type="text" id="description" name="description" placeholder="Description" required>
      <input type="text" id="code" name="code" placeholder="Code" required>
      <input type="number" id="price" name="price" placeholder="Price" required>
      <input type="number" id="stock" name="stock" placeholder="Stock" required>
      <input type="text" id="category" name="category" placeholder="Category" required>
      <input type="file" id="thumbnails" name="thumbnails" multiple style="display: none;">
      <label for="thumbnails" class="custom-file-upload">Choose Files</label>
      <button type="submit">Add Product</button>
    </form>
  </div>
  <!-- Contenedor para mostrar productos -->
  <div id="products-container">
    <div id="products-list">
      {{#each products}}
      <div class="card" id="product-{{this.id}}" s>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p><strong>Price:</strong> ${{this.price}}</p>
        <p><strong>Stock:</strong> {{this.stock}}</p>
        <p><strong>Code:</strong> {{this.code}}</p>
        <p><strong>Category:</strong> {{this.category}}</p>
        <button class="delete-btn" data-id="{{this.id}}">Delete</button>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
